* {
    margin: 0;
    padding: 0;
}

#container {
    background: #ede9cc;    
}

#area-logo {
    position: absolute;
    background-color: aqua;
    height: 250px;
    width: 100%;
    background: url(img/topo-imagem-principal2.png) no-repeat;
}

#area-nav {
    position: absolute;
    top: 0;
    right: 0;
    background: url(img/topo-imagem-lateral.png);
    height: 250px;
    width: 280px;
}